@import "../utils/settings";
//big tablets and small screen laptops

@media screen and (min-width:760px){
  
    .Hero__image{
        max-width: 70rem; 
        height: 600px;     
        }
        .Hero__text{
            padding: 0 20px;
            .para{
                padding: 10px 150px;
            }
        }

    .making-music{
        
        .photo-one{
            width: 18rem;
        }
        .photo-two{
            width: 15rem;
        }
        .one{
            left: 110px;
            margin-top: 5rem;
           
        }
        .yellow-bg{
            padding:8rem 90px;
        }
        .two{
            right: 20px;
        }
    
    
    }

    .making-music__text{
          margin-top: 28rem;
    }
       
    .location-container{
        figure{
            background-size: 30rem;
           
        }
        figcaption{
            text-align: center;
        }

        .location__text{
            margin-bottom: 18rem;
            
            .para{
                padding: 15px 100px;
            }
        }
    }
    .focus-container{
   
        .focus-two-image-container{
            padding: 5rem 7rem 4rem 3rem;
           
        }
        .left-image{
            width: 15rem;
        }
        .right-image{
            width: 22rem;
            
        
        }
        .right-container{
               right: 100px;
              
            }


    }
    .focus__text{
        margin-top: 20rem;
        
        .para{
            padding: 15px 100px;
        }
    }

    .passionate-image-container{
        padding: 2rem;
 
    }
    .passionate__text{
        margin-bottom: 15rem;
        .para{
            padding: 15px 60px;
        }
}
    .employees-container {
        margin: 1rem 4rem;

    .puprle-bg{
     width: 38rem;
     margin-bottom: 10rem;
     height: 550px;
     
            
    }
    .employee-image-container-item{
padding: 0 20px;
    .employee-image-one{
        width: 17rem;
        margin-left: 5rem;
        margin-top: -8rem;
      
    }
    .employee-image-two{
        width: 18rem;
        margin-right: 40px;
        margin-top: -5rem;
    }
 
    }
   
}

.employees_text{
  margin-top: 8rem;
    .para{
        padding: 10px 100px;
    }
  }
.job-openings-container{
    .job-opening-image{
        width: 25rem;
        height: min-content;
    }
    .job-opening-text{
        width: 25rem;
        padding: 30px 5px;
}
}



}
